language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install:
  - composer self-update
  - composer install --dev --prefer-source

before_script:
  - mkdir -p build/logs

script:
  - ./vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml
  - ./vendor/bin/phpcs --standard=PSR2 ./src/
  - ./vendor/bin/phpcs --standard=PSR2 ./test/

after_script:
  - php vendor/bin/coveralls -v

matrix:
  allow_failures:
    - php: 5.6
    - php: hhvm

notifications:
  slack: jh:CplQ8j20QUCT1nLGKH1XNxrO
